@using System.Security.Claims
@{ 
    ViewBag.Title = "FFJDA - Poles";
}


@{
  
    var userRoles = new List<Claim>();
    if (Request.IsAuthenticated)
    {
        var claimIdentity = User.Identity as ClaimsIdentity;
        if (claimIdentity != null)
        {
            userRoles = claimIdentity.FindAll(ClaimTypes.Role).ToList();
        }
    }

    
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/flat.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Inscription aux Poles", "Inscription", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @if (Request.IsAuthenticated)
                {

                    var role = userRoles.First();
                    if (role.Value == "Admin")
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Gestion", "AdminHome", "Gestion")</li>
                        </ul>

                    }
                    else if(role.Value=="Responsable")
                    {

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Gestion", "ResponsableHome", "Responsable")</li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Gestion", "LigueHome", "Ligue")</li>
                        </ul>
                    }


                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Espace Responsable", "AdminHome", "Gestion")</li>
                    </ul>
                }



               

            @if (Request.IsAuthenticated)
             {
                 <ul class="nav navbar-nav">
                  <li>@Html.ActionLink("Se déconnecter", "Logout", "Authentification")</li>
             </ul>
            }

            </div>

          
            </div>
    </div>

    <div class="container body-content">

        @RenderBody()
       
        <footer></footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>