@model PoleFrance.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}



<div class="contenu">

    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Authentification Responsable </h1>
                    <span>Bienvenue sur la page dédiée à la gestion des inscriptions pôles pour les responsables.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="arrow-down-white"></div>
    </div>
    <div class="arrow-down-blue"></div>

    @using (Html.BeginForm(new { @autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div id="form-div">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @autocomplete = "off", @class = "feedback-input", @placeholder = "Identifiant",@id="icon-tete" } })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @autocomplete = "off", @class = "feedback-input", @placeholder = "Mot de passe", @id = "icon-password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                
            <div class="submit">
                <input type="submit" value="Se connecter" id="button-blue" />
                <div class="ease"></div>
            </div>
        </div>

    }
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
