@model PoleFrance.RouteConfig


@{
    ViewBag.Title = "ResponsableHome";
}

<div class="contenu">

    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Gestion Responsable </h1>
                    <span>Bienvenue sur la page dédiée à la gestion du responsable : </span>
                    <span>@ViewBag.texte</span>
                    <hr>

                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="arrow-down-white"></div>

    </div>
    <div class="arrow-down-blue"></div>

    
    <div id="form-div-big">
        <div class="admin-block-conteneur-alignement">
            <div class="admin-block-conteneur">
                <div class="admin-block" onclick="location.href='@Url.Action("ListeMesInscriptions", "Responsable")'">
                    <div class="admin-block-titre">Mes inscriptions</div>
                    <div class="admin-block-image"><img src="@Url.Content("~/Content/Images/Admin/registrations.png")" /></div>
                    <div class="admin-block-desc">Dans cette section vous pouvez voir la liste de vos inscriptions pour @ViewBag.texte</div>
                </div>
            </div>
        </div>


        <div class="admin-block-conteneur-alignement">
            <div class="admin-block-conteneur">
                <div class="admin-block" onclick="location.href='@Url.Action("ListeToutesInscriptions", "Responsable")'">
                    <div class="admin-block-titre">Toutes les inscriptions</div>
                    <div class="admin-block-image"><img src="@Url.Content("~/Content/Images/Admin/resp.png")" /></div>
                    <div class="admin-block-desc">Dans cette section vous pouvez voir la liste de toutes les inscriptions pour les différents Pôles</div>
                </div>
            </div>
        </div>

        <div class="admin-block-conteneur-alignement">
            <div class="admin-block-conteneur">
                <div class="admin-block" onclick="location.href='@Url.Action("ExtractionInscriptions", "Responsable")'">
                    <div class="admin-block-titre">Extraction de mes inscriptions</div>
                    <div class="admin-block-image"><img src="@Url.Content("~/Content/Images/Admin/registrations.png")" /></div>
                    <div class="admin-block-desc">En cliquant sur ce bouton vous pouvez extraire la liste de vos inscriptions pour @ViewBag.texte</div>
                </div>
            </div>
        </div>


    </div>
</div>