
@model PoleFrance.RouteConfig

@{
    ViewBag.Title = "Admin";
}
<div class="contenu">
    
    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Gestion Administrateur </h1>
                    <span>Bienvenue sur la page dédiée à la gestion de l'administrateur.</span>
                    <hr>
                    <span>@ViewBag.texte</span>
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="arrow-down-white"></div>

    </div>
    <div class="arrow-down-blue"></div>

    
    <div id="form-div">

        <a href='@Url.Action("ListeResponsable", "Gestion")'>
            <img src='@Url.Content("~/Content/Images/Admin/resp.png")' class="taille-bouton" />
        </a>

        <a href='@Url.Action("OuvertureInscription", "Gestion")'>
            <img src='@Url.Content(ViewBag.image)' class="taille-bouton" />
        </a>

        

    </div>









    </div>