@model PoleFrance.Models.AjoutResponsableModel

@{
    ViewBag.Title = "AjoutResponsable";
}



<div class="contenu">

    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Ajout d'un responsable </h1>
                    <span>Vous pouvez ajouter un responsable de Pôle.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="arrow-down-white"></div>

    </div>
    <div class="arrow-down-blue"></div>

   

    @using (Html.BeginForm())
    {
     
     <div id="form-div">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "feedback-input", @placeholder = "Nom", @id = "icon-tete" } })
                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                
                    @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "feedback-input", @placeholder = "Prenom", @id = "icon-tete" } })
                    @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.AdresseEmail, new { htmlAttributes = new { @class = "feedback-input", @placeholder = "Mail", @id = "icon-email" } })
                    @Html.ValidationMessageFor(model => model.AdresseEmail, "", new { @class = "text-danger" })

                    @Html.DropDownListFor(model => model.Poleid, new SelectList(ViewBag.listePole,"id","Nom"), new { @class="select-custom", @id="select-blue"})
                    

                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "feedback-input", @placeholder = "Identifiant", @id = "icon-tete" } })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "feedback-input", @placeholder = "Mot de passe", @id = "icon-tete" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

       

   
         <div class="form-group-align">
             <div class="submit" id="form-moitie" style="margin-right:2.5px">
                 <input type="submit" value="Créer un responsable" id="button-blue" />
                 <div class="ease"></div>
             </div>
             <div class="submit" id="form-moitie" style="margin-left:2.5px">
                 <a href='@Url.Action("ListeResponsable", "Gestion")' id="button-red">Retour</a>
                 <div class="ease"></div>
             </div>
         </div>   


        </div>


    }
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
