@model PoleFrance.ViewModels.ResponsableViewModel

@{
    ViewBag.Title = "ListeResponsable";
}

<div class="contenu">

    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1>Liste des responsables </h1>
                    <span>Vous pouvez créer ou supprimer un responsable de Pôle.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="arrow-down-white"></div>

    </div>
    <div class="arrow-down-blue"></div>

    <div id="form-div-big">


        <table class="tableau">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pole</th>
                <th>Mail</th>
                <th>Identifiant</th>
                <th style="text-align:center;">Supprimer</th>

            </tr>
            @{
                foreach (var resp in Model.ListeDesResponsables)
                {
                    <tr>
                        <td>@resp.Nom</td>
                        <td>@resp.Prenom</td>
                        <td>@resp.Pole.Nom</td>
                        <td>@resp.AdresseEmail</td>
                        <td>@resp.Login</td>



                        <td style="text-align:center;">
                            <a href='@Url.Action("SuppressionResponsable", "Gestion",  new {id=@resp.id})'>
                                <img style="width:20px; height=20px; " src='@Url.Content("~/Content/Images/Admin/suppression.png")' />
                            </a>
                        </td>
                    </tr>
                }
            }
        </table>

        <div style="width:450px; margin-top:20px; margin-left:25px;">

            <div class="form-group-align">
                <div class="submit" id="form-moitie" style="margin-right:2.5px; text-align:center;">
                    <a href='@Url.Action("AjoutResponsable", "Gestion")' id="button-blue">Ajouter un responsable</a>
                    <div class="ease"></div>
                </div>
                <div class="submit" id="form-moitie" style="margin-left:2.5px">
                    <a href='@Url.Action("AdminHome", "Gestion")' id="button-red">Retour</a>
                    <div class="ease"></div>
                </div>
            </div>

        </div>


    </div>


        </div>


   

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>