@model PoleFrance.Models.MainModel

<div class="contenu">
    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Inscriptions Pôles </h1>
                    <span>Bienvenue sur la page dédiée à l'inscription aux différents Pôles France, IJ et INSEP.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="start-total">
            <div class="arrow-down-white"></div>
            <div class="start-intermediaire">
                <div class="icon-number-2"></div>
                <div class="start-content-white">
                    <h2> Deuxième étape : </h2>
                    <div>
                        - Les différentes informations qui ont pu être retrouvées sont préalablement remplies,
                        il vous reste vos informations scolaires et sportives à mentionner.
                    </div>
                    <div>
                        - Attention, veuillez être le précis possible, comme pour vos
                        catégories de poids veuillez préciser quelle année, par exemple pour Junior précisez Junior 1.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-down-blue"></div>
    @using (Html.BeginForm("Inscription2", "Home"))
    {
        <div id="form-div-big">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="titre-form-blanc">
                Informations générales :
                <div class="white-separator"></div>
            </div>
            <div class="form-content">
                <div class="form-content-mid">
                    @Html.ValidationMessageFor(model => model.Candidature.NumLicencie, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.NumLicencie, new { htmlAttributes = new {@readonly= "readonly", @class = "feedback-input-little", @placeholder = "Numéro de licence" } })
                    @Html.ValidationMessageFor(model => model.Candidature.Nom, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.Nom, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Nom" } })
                    @Html.ValidationMessageFor(model => model.Candidature.Prenom, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.Prenom, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Prénom" } })
                    @Html.ValidationMessageFor(model => model.Candidature.Rue, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.Rue, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Adresse" } })

                    <div class="form-side-by-side">
                        @Html.ValidationMessageFor(model => model.Candidature.Ville, "", new { @class = "text-danger-form" })
                        @Html.ValidationMessageFor(model => model.Candidature.CodePostal, "", new { @class = "text-danger-form" })
                    </div>
                    <div class="form-side-by-side">
                     
                        @Html.EditorFor(model => model.Candidature.Ville, new { htmlAttributes = new { @class = "feedback-input-little-3quart", @placeholder = "Ville" } })
                        
                        @Html.EditorFor(model => model.Candidature.CodePostal, new { htmlAttributes = new { @class = "feedback-input-little-1quart", @placeholder = "Code postal", style = "margin-left:4px;" } })
                    </div>
                </div>
                <div class="form-content-mid">
                    @Html.ValidationMessageFor(model => model.Candidature.DateNaissance, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.DateNaissance, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Date de naissance" } })
                    @Html.ValidationMessageFor(model => model.Candidature.AdresseEmail, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.AdresseEmail, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Adresse email" } })
                    @Html.ValidationMessageFor(model => model.Candidature.Telephone, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.Telephone, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Téléphone" } })
                    @Html.ValidationMessageFor(model => model.Candidature.AdresseEmailParent, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.AdresseEmailParent, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Adresse email des parents" } })
                    @Html.ValidationMessageFor(model => model.Candidature.TelephoneParents, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.TelephoneParents, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Téléphone des parents" } })
                </div>
            </div>
            <div class="sous-titre-form-blanc">
                Informations complémentaires :
            </div>
            <div class="white-separator-little"></div>
            <div class="form-content">
                <div class="form-content-mid">
                    <div class="form-side-by-side">
                        @Html.ValidationMessageFor(model => model.Candidature.Sexe, "", new { @class = "text-danger-form" })
                        @Html.ValidationMessageFor(model => model.Candidature.Poids, "", new { @class = "text-danger-form" })
                    </div>
                    <div class="form-side-by-side">                        
                        @Html.EditorFor(model => model.Candidature.Sexe, new { htmlAttributes = new { @class = "feedback-input-little-mid", @placeholder = "Sexe" } })                        
                        @Html.EditorFor(model => model.Candidature.Poids, new { htmlAttributes = new { @class = "feedback-input-little-mid", @placeholder = "Poids", @style = "margin-left:4px;" } })
                    </div>
                    <div class="form-side-by-side">
                        @Html.ValidationMessageFor(model => model.Candidature.Taille, "", new { @class = "text-danger-form" })
                        @Html.ValidationMessageFor(model => model.Candidature.CategoriePoidsActuelle, "", new { @class = "text-danger-form" })
                    </div>
                    <div class="form-side-by-side">
                        @Html.EditorFor(model => model.Candidature.Taille, new { htmlAttributes = new { @class = "feedback-input-little-mid", @placeholder = "Taille" } })
                        @Html.EditorFor(model => model.Candidature.CategoriePoidsActuelle, new { htmlAttributes = new { @class = "feedback-input-little-mid", @placeholder = "Catégorie de poids", @style = "margin-left:4px;" } })
                    </div>
                </div>
                <div class="form-content-mid">
                    @Html.ValidationMessageFor(model => model.Candidature.CategorieAgeActuelle, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.CategorieAgeActuelle, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Catégorie d'âge" } })
                    @Html.ValidationMessageFor(model => model.Candidature.PoleActuel, "", new { @class = "text-danger-form" })
                    @Html.EditorFor(model => model.Candidature.PoleActuel, new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Pôle actuel" } })
                </div>
            </div>
        </div>
        <div id="form-div-big">
            <div class="titre-form-blanc">
                Informations sportives :
                <div class="white-separator"></div>
            </div>
            <div class="form-content">
                <div class="form-content-mid">
                    <div class="form-desc">
                        <div style="margin-bottom:20px;">Choissisez la structure pour laquelle vous voulez postuler :</div>
                        @Html.DropDownListFor(model => model.Pole.id, new SelectList(ViewBag.listePole, "id", "Nom"), new { @class = "select-custom", @id = "select-blue" })
                    </div>
                </div>
                <div class="form-content-mid">
                    <div class="form-desc">
                        <div>Si la structure de votre choix n'est pas acceptée, autorisez-vous les responsables à vous orienter sur une structure différente ?</div>
                        <div style="display:flex;margin-top:10px;">
                            <span style="margin-right:10px;">Accepter</span>
                            @Html.CheckBoxFor(model => model.Redirection)
                        </div>
                    </div>
                </div>
            </div>
            <div class="sous-titre-form-blanc">Résultats compétitions :</div>
            <div class="white-separator-little"></div>
            <div class="form-desc" style="margin:10px;">Veuillez renseigner vos trois meilleures performances (la catégorie d'age correspond à la votre durant cette compétition, par exemple championnat de france Sénior quand vous étiez junior 2):</div>
            <div class="form-compétition">
                <div class="form-desc" style="margin-top:3px;margin-bottom:10px;margin-left:10px;">Première compétition :</div>
                <div class="form-content">
                    <div style="width:70%">
                        @Html.EditorFor(model => model.Information1.Competition,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Compétition" } })
                    </div>
                    <div style="width:30%;margin-left:3px;">
                        @Html.EditorFor(model => model.Information1.CategorieAge,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Catégorie d'age" } })
                    </div>
                </div>

                <div class="form-content">
                    <div style="width:50%;">
                        @Html.EditorFor(model => model.Information1.CategoriePoids,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Catégorie de poids" } })
                    </div>
                    <div style="width:50%;margin-left:3px;">
                        @Html.EditorFor(model => model.Information1.Resultat,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Résultat" } })
                    </div>
                </div>
            </div>
            <div class="form-compétition">
                <div class="form-desc" style="margin-top:3px;margin-bottom:10px;margin-left:10px;">Deuxième compétition :</div>
                <div class="form-content">
                    <div style="width:70%">
                        @Html.EditorFor(model => model.Information2.Competition,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Compétition" } })
                    </div>
                    <div style="width:30%;margin-left:3px;">
                        @Html.EditorFor(model => model.Information2.CategorieAge,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Catégorie d'age" } })
                    </div>
                </div>

                <div class="form-content">
                    <div style="width:50%;">
                        @Html.EditorFor(model => model.Information2.CategoriePoids,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Catégorie de poids" } })
                    </div>
                    <div style="width:50%;margin-left:3px;">
                        @Html.EditorFor(model => model.Information2.Resultat,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Résultat" } })
                    </div>
                </div>
            </div>
            <div class="form-compétition">
                <div class="form-desc" style="margin-top:3px;margin-bottom:10px;margin-left:10px;">Troisième compétition :</div>
                <div class="form-content">
                    <div style="width:70%">
                        @Html.EditorFor(model => model.Information3.Competition,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Compétition" } })
                    </div>
                    <div style="width:30%;margin-left:3px;">
                        @Html.EditorFor(model => model.Information3.CategorieAge,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Catégorie d'age" } })
                    </div>
                </div>

                <div class="form-content">
                    <div style="width:50%;">
                        @Html.EditorFor(model => model.Information3.CategoriePoids,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Catégorie de poids" } })
                    </div>
                    <div style="width:50%;margin-left:3px;">
                        @Html.EditorFor(model => model.Information3.Resultat,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Résultat" } })
                    </div>
                </div>
            </div>
        </div>
        <div id="form-div-big">
            <div class="titre-form-blanc">
                Informations scolaires :
                <div class="white-separator"></div>
            </div>
            <div class="sous-titre-form-blanc">
                Etablissement et formation actuel :
            </div>
            <div class="form-content">
                <div class="form-content-mid" style="padding-bottom:0px;">
                    @Html.EditorFor(model => model.InformationScolaire.Etablissement,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Etablissement" } })
                </div>
                <div class="form-content-mid" style="padding-bottom:0px;">
                    @Html.EditorFor(model => model.InformationScolaire.Telephone,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Téléphone" } })
                </div>
            </div>
            <div style="padding-right:10px;padding-left:10px;">
                @Html.EditorFor(model => model.InformationScolaire.Adresse,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Adresse établissement" } })
                @Html.EditorFor(model => model.InformationScolaire.Classe,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Classe / Formation" } })
            </div>
            <div class="sous-titre-form-blanc"> Souhait scolaire pour l'année de votre rentrée en structure :</div>
            <div class="white-separator-little"></div>
            <div style="padding-right:10px;padding-left:10px;padding-top:10px;">
                @Html.EditorFor(model => model.SouhaitScolaire.Etablissement,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Adresse établissement" } })
                @Html.EditorFor(model => model.SouhaitScolaire.Classe,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Classe / Formation" } })
            </div>
            <div class="form-content">
                <div class="form-content-mid">
                    @Html.EditorFor(model => model.LV1.Langue1,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Langue vivante 1" } })
                    @Html.EditorFor(model => model.LV2.Langue1,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Langue vivante 2" } })
                </div>
                <div class="form-content-mid" style="padding-bottom:0px;">
                    @Html.EditorFor(model => model.option.NomOption,
                            new { htmlAttributes = new { @class = "feedback-input-little", @placeholder = "Options" } })
                    <div style="display:flex;margin-top:10px;">
                        <div class="form-desc" style="width:auto;margin-right:10px;">Demande internat :</div>
                        @Html.CheckBoxFor(model => model.Internat)
                    </div>
                </div>
            </div>
        </div>
        <div id="form-div-big">
            <div class="titre-form-blanc">
                Autorisation :
                <div class="white-separator"></div>
            </div>
            <div class="form-content" style="display:inline">
                <div class="form-desc" style="margin-top:10px;">
                    Pour les mineurs, veuillez cocher cette case si vous avez l'autorisation de vos parents pour cette candidature :
                    <div style="width:100%;">
                        <div class="autorisation-parentale">
                            Autorisation parentale
                            @Html.CheckBoxFor(model => model.Internat, new { @style = "margin-left:10px" })
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        <div id="form-div">
            <div class="form-submit-title">Validation</div>
            <div class="form-desc" style="text-align:center;margin-bottom:10px;">Avant de valider et d'envoyer automatiquement votre candidature,
                 veuillez vérifer que toutes les informations que vous avez renseignées
                 sont exactes. Une fois l'inscription terminée un mail de confirmation vous sera envoyé.</div>
            <div class="submit" style="text-align:center;">
                <a href='#popup' id="button-blue">Valider et envoyer votre candidature</a>
                <div class="ease"></div>
            </div>
        </div>

        <div class="popup-wrapper" id="popup">
            <div class="popup-container">
                <div class="form-submit-title">Attention</div>
                <div class="form-desc" style="text-align:center;margin-bottom:20px;">
                    Avant de valider et d'envoyer automatiquement votre candidature,
                    veuillez vérifer que toutes les informations que vous avez renseignées
                    sont exactes.
                </div>
                <div class="submit">
                    <input type="submit"onclick="window.location='#closed'" value="Valider et envoyer votre candidature" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <a class="popup-close" href="#closed">X</a>
            </div>
        </div>
    }
</div>

